<?xml version="1.0" encoding="UTF-8"?>
<web-app
        xmlns:xi="http://www.w3.org/2001/XInclude"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">
    <display-name>RDF4J Server</display-name>
    <description>RDF4J Server</description>
    <!-- Uncomment this and the associated filter-mapping to enable cross-origin requests.
    See https://github.com/eBay/cors-filter to change default configuration settings.
    <filter>
        <filter-name>CORSFilter</filter-name>
        <filter-class>
            org.ebaysf.web.cors.CORSFilter
        </filter-class>
    </filter>
     -->
    <filter>
        <filter-name>CompressingFilter</filter-name>
        <filter-class>com.github.ziplet.filter.compression.CompressingFilter</filter-class>
        <init-param>
            <param-name>excludeContentTypes</param-name>
            <param-value>application/x-binary-rdf,application/x-binary-rdf-results-table</param-value>
        </init-param>
    </filter>
    <filter>
        <filter-name>PathFilter</filter-name>
        <filter-class>org.eclipse.rdf4j.common.webapp.filters.PathFilter</filter-class>
    </filter>
    <filter>
        <filter-name>UrlRewriteFilter</filter-name>
        <filter-class>org.tuckey.web.filters.urlrewrite.UrlRewriteFilter</filter-class>
        <init-param>
            <param-name>logLevel</param-name>
            <param-value>commons</param-value>
        </init-param>
        <init-param>
            <param-name>statusEnabled</param-name>
            <param-value>false</param-value>
        </init-param>
    </filter>
    <!-- Uncomment this and the associated filter definition to enable cross-origin requests.
    <filter-mapping>
        <filter-name>CORSFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
     -->
    <filter-mapping>
        <filter-name>CompressingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>UrlRewriteFilter</filter-name>
        <url-pattern>/</url-pattern>
        <url-pattern>/overview.view</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>PathFilter</filter-name>
        <url-pattern>*.css</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>rdf4j-http-server</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/common-webapp-servlet.xml, /WEB-INF/common-webapp-system-servlet.xml,
                /WEB-INF/rdf4j-http-server-servlet.xml
            </param-value>
        </init-param>
        <load-on-startup>100</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>rdf4j-http-server</servlet-name>
        <url-pattern>/protocol/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rdf4j-http-server</servlet-name>
        <url-pattern>/repositories/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rdf4j-http-server</servlet-name>
        <url-pattern>*.view</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>rdf4j-http-server</servlet-name>
        <url-pattern>*.form</url-pattern>
    </servlet-mapping>

    <!-- admin Role -->
    <security-role>
        <description>
            The role that is required to access the RDF4J server configuration
        </description>
        <role-name>rdf4j-admin</role-name>
    </security-role>

    <!-- editor Role -->
    <security-role>
        <description>
            Read/write access to repository data
        </description>
        <role-name>rdf4j-editor</role-name>
    </security-role>

    <!-- viewer Role -->
    <security-role>
        <description>
            Read only access to repository data
        </description>
        <role-name>rdf4j-viewer</role-name>
    </security-role>

    <!-- Add or delete repositories only for rdf4j-admin -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>repositories</web-resource-name>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>rdf4j-admin</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- Viewer contraints for reading /repositories -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SPARQL query access to the repositories</web-resource-name>
            <url-pattern>/repositories/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>rdf4j-viewer</role-name>
            <role-name>rdf4j-editor</role-name>
            <role-name>rdf4j-admin</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- Editor contraints for writing to repositories -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>SPARQL query access to the 'datenadler' repositories</web-resource-name>
            <url-pattern>/repositories/*</url-pattern>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
        </web-resource-collection>
        <auth-constraint>
            <role-name>rdf4j-editor</role-name>
            <role-name>rdf4j-admin</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- SYSTEM contraints for manipulating repositotries -->
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>config</web-resource-name>
            <url-pattern>/repositories/SYSTEM</url-pattern>
            <url-pattern>/repositories/SYSTEM/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>rdf4j-admin</role-name>
        </auth-constraint>
    </security-constraint>

    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>RDF4J Server configuration</realm-name>
    </login-config>

    <session-config>
        <session-timeout>30</session-timeout>
        <tracking-mode>COOKIE</tracking-mode>
    </session-config>
    <welcome-file-list>
        <welcome-file>overview.view</welcome-file>
    </welcome-file-list>
</web-app>
